<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CAS_BASE_PATH" value="http://app.supwisdom.com:7879/cas/"/>
    <add key="DEF_TARGET_URI" value="sso/index.aspx"/>
    <add key="SSO_LOGIN_URI" value="sso/login.aspx"/>
	<!-- 业务系统需要显式使用的端口配置，包括80端口，如果不需要配置显式端口，则配置空字符串""即可 -->
	<add key="CLIENT_SYSTEM_EXPLICIT_PORT" value=""/>
  </appSettings>
  <system.web>
	  
 </system.web>
</configuration>
